
/* background styles */
.background-home {
    background-image: url(../images/resumebackground.JPG);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.background-gray {
    background-color: grey;
}

.background-home-text {
    background-color: rgba(255, 255, 255, .5);
}

/* this styles each article height*/
.page {
    height: auto;
}

.home-page {
    height: 90vh;
}
/* add custom li symbol */
ol {
    list-style: none;
  margin-left: 0;
  padding-left: 0;
}
ol li {
    padding-left: 1em;
    text-indent: -1em;
  }
  
ol li:before {
    content: "+";
    padding-right: 5px;
  }
/* resize image */
.image-resize{
    width: 100%;
    height: auto;
}
/* adds a shadow to images */
.blackShadows {
    box-shadow: 10px 10px 5px black;
}
 /* changes the carousel indicators*/
 .carousel-indicators li {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 10px;
    text-indent: 0;
    cursor: pointer;
    border: none;
    border-radius: 50%;
    background-color: #999;
    background-color: rgba(70,70,70,.25);
    box-shadow: inset 1px 1px 1px 1px rgba(0,0,0,0.5);    
}
.carousel-indicators .active {
    width: 10px;
    height: 10px;
    margin: 10px;
    background-color: #444;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 100px;
  width: 100px;
  outline: black;
  background-size: 100%, 100%;
  border-radius: 50%;
  background-image: none;
}

.carousel-control-next-icon:after
{
  content: '>';
  font-size: 25px;
  color: black;
}

.carousel-control-prev-icon:after {
  content: '<';
  font-size: 25px;
  color: black;
}
/* footer */
footer {
    font-size: xx-small;
}
/* fixes tabs on small devices */
@media only screen and (max-width: 992px){
.take-all-space-you-can{
    width:100%;
}
}

/* fixes carousel on large devices */
@media only screen and (min-width: 992px){
    .fix-large-carousel{
        width:50%;
    }
    }
