
/* background styles */
/* By: Manuel Pinto https://manuelpinto.in */
.background-home {
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.background-gray {
    background-color: grey;
}

.background-home-text {
    background-color: rgba(255, 255, 255, .5);
}

/* this styles each article height*/
.page {
    height: auto;
}

.home-page {
    height: 90vh;
}
/* add custom li symbol */
ol {
    list-style: none;
  margin-left: 0;
  padding-left: 0;
}
ol li {
    padding-left: 1em;
    text-indent: -1em;
  }
  
ol li:before {
    content: "🌟";
    padding-right: 5px;
  }
/* resize image */
.image-resize{
    width: 75%;
    height: auto;
}

.tree-resize{
    width: 50%;
    height: auto;
}
/* adds a shadow to images */
.blackShadows {
    box-shadow: 10px 10px 5px black;
}
/* footer */
footer {
    font-size: small;
}
/* fixes tabs on small devices */
@media only screen and (max-width: 992px){
.take-all-space-you-can{
    width:100%;
}
}

/* fixes carousel on large devices */
@media only screen and (min-width: 992px){
    .fix-large-carousel{
        width:50%;
    }
}

.card{
    margin: 15px;
}

.project-style {
    text-align: center;
}