
/* background styles */
.background-home {
    background-image: url(../images/resumebackground.JPG);
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;
}

.background-gray {
    background-color: grey;
}

/* this styles each article height*/
.page {
    height: 90vh;
}

/* fixes tabs on small devices */
.take-all-space-you-can{
    width:100%;
}
